{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
<main class="container">
    <div class="container">
        <form class="card col s12 login-card" id="loginForm" method="POST" action="/" style="padding:1em">
            <div class="row">
                <div class="input-field col s12">
                    <input name="email" type="text" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="card-action center">
                <input type="submit" class="blue text-white btn" value="Login">
            </div>
        </form>
    </div>
</main>
{% endblock %}